<div class="top-left-header">
  <img alt="Logo BucketList" src={{ asset('../public/assets/image/logo.png')}}>
  <h2 class="application-title">BucketList</h2></div>
<div>

<nav>
  <ul>
    <li><a href="{{path('app_main')}}">Accueil</a></li>
    <li><a href="{{path('app_about_us')}}">About Us</a></li>
    <li><a href="{{path('app_list')}}">Wish List</a></li>
  </ul>
</nav></div>